.main-aside {
    position: sticky;
    top: var(--islandMargin);
    will-change: top;
}

.main-aside--offset-top {
    @media (--not-mobile) {
        margin-top: var(--branding-negative-margin);
    }
}

.site-head {
    display: flex;
    line-height: 1.2em;
    font-size: 15px;

    &--in-aside {
        border-bottom: 1px solid var(--lightGrayLine);
        padding: calc(var(--islandPadding) * 0.8) var(--islandPadding);
    }
}

.site-head__logo {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto 0;
    margin-right: 25px;
    border-radius: 3px;
    text-align: center;
}

.site-head__logo img {
    width: 100%;
    height: 100%;
}

.site-head__logo--empty {
    background: #3997de;
}

.site-head__logo--empty img {
    display: none;
}

.site-head__logo--empty::before {
    content: attr(data-placeholder);
    color: #fff;
    line-height: 50px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.08em
}

.site-head__logo-upload{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -45%);
    color: #495365;
}
.site-head__logo:hover .site-head__logo-upload{
    display: inline-block;
}

.site-head__logo--admin:hover {
    background: #eef2f9;
}

.site-head__logo--admin:hover:before {
    content: '';
}

.site-head__logo img {
    border-radius: 3px;
}

.site-head__logo--admin:hover img {
    display:none;
}

.site-head__title {
    margin: auto 0;
}

.main-aside .menu:empty {
    margin: 0;
}

.main-aside .menu {
    font-size: 15px;
    margin: 20px 0;
}

.main-aside .menu a {
    display: block;
    padding: 10px var(--islandPadding);
    font-size: 14px;
    line-height: 1.5em;
}

.main-aside .menu a:hover {
    color: var(--hoverColor);
}

.button.logout {
    background: #2d3136;
    color: #606469;
}

.button.logout:hover {
    background: #202328;
}

/**
* Email confirmation
*/
.confirm-reminder {
    display: block;
    box-shadow: inset 3px 0 0 0 var(--redColor);
    padding: 15px 23px 15px 30px;
    border-bottom: 1px solid var(--lightGrayLine);
    font-size: 14px;
    cursor: pointer;
    color: var(--redColor);
}

.confirm-reminder:hover {
    background: var(--lightGrayBackground);
}

.confirm-reminder__attention {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}

.confirm-reminder__attention svg {
    width: 18px;
}

.confirm-reminder__arrow svg {
    height: 15px;
}

.aside-section {
    padding: var(--islandPadding);
    border-bottom: 1px solid var(--lightGrayLine);
}

.aside-section .button {
    display: block;
    text-align: center;
}

/**
* Mobile menu holder and toggler
*/
.mobile-menu-toggler {
    display: none;
}

/**
 * Codex logo
 */
.codex {
    display: block;
    margin: -10px 0;
    color: var(--grayText) !important;
    font-size: 11px;
    line-height: 1.4em;
    cursor: pointer;
}

@media (--mobile) {
    .codex {
        margin: 0;
    }
}

.codex:hover {
    color: #3e445d !important;
}

.codex__title {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 3px;
}

.codex svg {
    height: 56px;
    float: left;
    margin-right: 20px;
    fill: #656e7d;
}

.codex:hover svg {
    fill: #57606f;
}

.codex:hover svg .inner {
    fill: #1d2033;
}

@media (--mobile) {
    .site-head {
        line-height: 1.3em;
        font-size: 13px;

        &--in-aside {
            padding: 12px 15px;
        }
    }

    .site-head__logo {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .site-head__logo--empty::before {
        line-height: 35px;
        font-size: 18px;
    }

    .site-head__logo-upload {
        padding: 4px;
    }

    /**
    * Mobile site menu
    */
    .mobile-menu-holder {
        display: none;
    }

    .mobile-menu-holder--opened {
        display: block;
        margin-bottom: 15px;
    }

    .mobile-menu-toggler {
        display: inline-flex;
        padding: 20px;
        margin: -10px -15px -10px auto;
        cursor: pointer;
        z-index: 2;
    }

    .main-aside .menu {
        margin: 10px 0;
    }

    .main-aside .menu a {
        padding: 10px 15px;
    }

    .main-aside li:last-of-type a {
        padding-bottom: 0;
    }

    .main-aside .button {
        margin: 15px;
    }


}
