.community-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--islandPadding);

    &__cover {
         width: 90px;
         height: 90px;
         border-radius: 3px;
         border: 1px solid var(--lightGrayLine);
         margin-bottom: 20px;
         overflow: hidden;

         img {
             width: 100%;
             height: 100%;
         }

         &--default {
              background: url('/public/app/svg/community-placeholder.svg') no-repeat center / 45px ;

              img {
                  display: none;
              }
         }

        &--editable {
            position: relative;

            &::before {
                content: '';
                background: #F9FAFC url("/public/app/svg/upload-photo.svg") no-repeat 50% 50%;
                position: absolute;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
                opacity: 0;
                transform: scale(1.1);
                transition: all 250ms ease;
                border-radius: 2px;
            }

            &:hover::before {
                transform: none;
                opacity: 1;
            }
        }

        &.loader {
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, #EDF0F5 4px, #fff 8px) !important;
            background-size: 56px 56px;
            animation: loading-bar 1000ms infinite linear;

            img,
            &::before {
                opacity: 0;
            }
        }
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38em;
        text-align: center;
    }

     &__island-settings {
          margin-left: auto;
          margin-right: -3px;
          margin-top: -10px;
      }
}