/**
 * Comment
 */
.comment {
    transition: background-color 500ms ease-out;
}

.comment--highligthed {
    background-color: var(--lightGrayBackground);
}

.comment__author-photo {
    float: left;
    margin-right: 15px;
}

.comment__author-photo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment__author-name {
    display: inline-block;
    font-size: 15px;
    margin: 2px 0 3px;
}

.comment__time {
    color: var(--color-gray);
    font-size: 11px;
}

.comment__text {
    margin: 10px auto 20px;
    font-size: 15px;
    line-height: 1.6em;
}

.comment__text a {
    padding-bottom: 1px;
    color: var(--linkColor);
    border-bottom: 1px solid color-mod(var(--linkColor) lightness(+35%));
}

.comment__text a:hover {
    color: var(--color-hover);
    border-bottom: 1px solid color-mod(var(--color-hover) lightness(+35%));
}

.comment__actions--button {
    float: right;
    padding: 5px;
    border-radius: 2px;
}

.comment__footer {
    margin: 0 -30px -20px;
    padding: 10px 30px;
    border-top: 1px solid var(--lightGrayLine);
    color: var(--color-gray);
    font-size: 15px;
    line-height: 26px;
}

@media (--mobile) {
    .comment__footer {
        margin: 0 -15px -15px;
        padding: 10px 15px;
    }
}

/**
 * Alone reply form
 */
.comment-form__island {
    padding: 15px var(--islandPadding);
    margin: var(--islandMargin) auto;
}

@media (--mobile) {
    .comment-form__island {
        padding: 15px;
    }
}

/**
 * Comment form
 */

.comments-form {
    margin-top: 15px;
}

.comment-form__photo {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

@media (--mobile) {
    .comment-form__photo {
        width: 20px;
        height: 20px;
    }
}

.comment-form__placeholder {
    cursor: pointer;
    color: var(--color-gray);
    font-size: 14px;
}

.comment-form__placeholder svg {
    height: 15px;
}

.comment-form__placeholder-name {
    display: none;
}

.comment-form__placeholder--opened .comment-form__placeholder-text {
    display: none;
}

.comment-form__placeholder--opened .comment-form__placeholder-name {
    display: inline-block;
    font-weight: 500;
}

.comment-form__text {
    width: 100%;
    margin-top: 4px;
    padding: 0;
    resize: none;
    font-size: 15px;
    line-height: 1.5em;
}

.comment-form__text,
.comment-form__text:focus {
    background: none;
}

.comment-form__text:focus,
.comment-form__text:not(:invalid) {
    height: 7em;
}

.comment-form__button {
    margin: 15px 0 5px;
    font-size: 14px;
}

/**
 * Comment target Block
 */
.comment-target {
    border: 1px solid var(--lightGrayLine);
    margin: 15px auto 20px;
    padding: 15px;
    width: auto;
    box-shadow: 0 1px 1px rgba(139, 151, 169, 0.05);
    border-radius: 3px;
    font-size: 12px;
}

.comment-target__text {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.56em;
    color: var(--color-gray);
}

.comment-target__text:hover {
    color: var(--color-gray);
}

/**
 * Show-more toggler in comment target block
 */
.comment-target__show-more {
    display: inline-block;
    color: var(--linkColor);
}

.comment-target__show-more::before {
    content: attr(data-text-show);
}

.comment-target__show-more svg {
    height: 0.5em;
    margin-left: 0.2em;
}

.comment-target__show-more:hover {
    color: var(--color-hover);
}

.comment-target__text-hided {
    display: none;
}

.show-more .comment-target__text-hided {
    display: block;
}

.show-more .comment-target__show-more {
    margin-left: 0;
    margin-top: 0.7em;
}

.show-more .comment-target__show-more svg {
    transform: rotate(180deg);
}

.show-more .comment-target__short-text {
    display: none;
}

.show-more .comment-target__show-more::before {
    content: attr(data-text-hide);
}

.comment-target--page .comment-target__source {
    font-weight: 600;
}

.comment-target__author,
.comment-target__date,
.comment-target__page {
    display: inline-block;
    margin-right: 1em;
    max-width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: text-bottom;
    color: var(--color-gray);
}

.comment-target__arrow {
    display: inline-block;
    margin: 0 0.5em 0 -0.5em;
    vertical-align: text-bottom;
    color: var(--color-gray);
}

.comment-target__arrow svg {
    height: 0.8em;
}
