.form-type-selector {
    position: relative;
    padding: 16px 25px 0;
    font-size: 13px;
    color: var(--color-gray);
    background-color: var(--lightBlueBackground);

    @media (--tablet) {
        padding: 16px 45px 0 25px;
    }

    &__content {
         display: flex;
         max-width: 590px;
         overflow-x: auto;
         margin: 0 auto;
     }

    &__item {
         display: flex;
         align-items: center;
         position: relative;
         flex-basis: auto;
         margin-right: 20px;
         padding-bottom: 16px;
         flex-shrink: 0;

        &:last-of-type {
             margin-right: 0;
        }

        &:hover {
             color: var(--redColor);
             cursor: pointer;
         }

        label:hover {
            cursor: pointer;
        }

        input {
            display: none;
        }

        svg {
            margin-right: 5px;
        }

         &-photo {
              border-radius: 50%;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              margin-right: 5px;
         }

        &-blog {
             order: -1;
        }

        &--selected {

            svg {
                color: var(--redColor);
            }

            label {
                color: var(--redColor);

                &:after {
                     bottom: 0;
                     left: 50%;
                     border: solid transparent;
                     content: " ";
                     height: 0;
                     width: 0;
                     position: absolute;
                     border-bottom-color: #fff;
                     border-width: 15px;
                     margin-left: -15px;
                 }
            }
        }
    }

    .island-settings {
        position: absolute;
        top: 16px;
        right: 0;
        background-color: var(--lightBlueBackground);
        padding: 0 16px 0 8px;

        &:hover {
             color: #4d4d4d;
        }
    }
}

