.form-type-selector {
    position: relative;
    overflow: hidden;
    max-height: 3.1em;
    padding: 16px 25px 0;
    font-size: 13px;
    color: var(--color-gray);
    background-color: var(--lightBlueBackground);

    @media (--mobile) {
        max-height: 2.4em;
        padding: 16px 15px 0;
    }

    &__content {
         display: flex;
         flex-wrap: wrap;
         max-width: 590px;
         flex-grow: 1;
         margin: 0 auto;
     }

    &--opened {
         max-height: none !important;

        ^&__item--selected label:after {
            display: none;
        }
    }

    &__item {
         display: inline-block;
         position: relative;
         vertical-align: middle;
         cursor: pointer;
         flex-basis: auto;
         margin-right: 23px;
         padding-bottom: 16px;

        input {
            display: none;
        }

        svg {
            margin-top: -2px;
            margin-right: 5px;
        }

        &:hover {
             color: var(--redColor);
        }

         &-photo {
              border-radius: 50%;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              margin-top: -2px;
              margin-right: 5px;
         }

        &-blog {
             order: -2;
        }

        &--selected {
            order: -1;

            svg {
                color: var(--redColor);
            }

            label {
                color: var(--redColor);

                &:after {
                     bottom: 0;
                     left: 50%;
                     border: solid transparent;
                     content: " ";
                     height: 0;
                     width: 0;
                     position: absolute;
                     pointer-events: none;
                     border-bottom-color: #fff;
                     border-width: 15px;
                     margin-left: -15px;
                 }
            }
        }
    }

    .island-settings {
        position: absolute;
        top: 16px;
        right: 16px;

        &:hover {
             color: #4d4d4d;
        }
    }
}

