/**
* Island styles
*/
.island {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #f0f3f9;
    font-size: 14px;
    line-height: 1.5em;
    word-wrap: break-word;

    &__title {
         margin: 0 0 10px 0;
         font-size: 1.15em;
         font-weight: 700;
    }

    &__caption {
         max-width: 370px;
         margin-right:auto;
    }

    &__link {
         color: var(--actions-color);
         display: inline-block;
         margin-top: 15px;
         letter-spacing: 0.35px;
    }
}

.island--bottom-rounded {
    border-radius: 0 0 3px 3px;
}

.island--top-rounded {
    border-radius: 3px 3px 0 0;
}

.island.block_title {
    border-radius: 3px 3px 0 0;
}

.island--padded {
    padding: calc(var(--islandPadding) * 0.8) var(--islandPadding);
}

.island--margined {
    margin-top: var(--islandMargin);
}

.island--bottomed {
    margin-bottom: var(--islandMargin);
}

.island--centered {
    text-align: center;
}

/**
 * Island navigation
 */
.island__navigation {
    display: flex;
    margin: -20px -var(--islandPadding) 20px;
    padding: 0 var(--islandPadding);
    border-bottom: 1px solid var(--lightGrayLine);
    line-height: 54px;
    font-size: 15px;
}

.island__navigation-item {
    color: var(--grayText);
}

.island__navigation-item--right {
    margin-left: auto;
}

.island__navigation-item svg {
    margin-right: 0.6em;
    vertical-align: text-bottom;
}

@media (--mobile) {
    .island--stretched {
        margin: 0;
        padding: 15px;
    }

    .island--padded {
        padding: 15px;
    }

    .island__navigation {
        margin: -20px -15px 20px;
        padding: 0 15px;
    }
}
