.join-button {
    @apply --button;
    background: var(--colorButtonSecondary);
    font-size: 17px;
    border-radius: 43.5px;
    padding: 12px 71px;

    &:hover {
         background: color(var(--colorButtonSecondary) blackness(+10%));
    }

    &-wrapper {
         text-align: center;
         margin: 70px 0;

         @media (--mobile) {
             margin: 35px 0;
         }
    }
}