.search-modal {
    position: absolute;
    box-sizing: border-box;
    z-index: 6;
    top: 143px;
    left: 50%;
    transform: translateX(-50%);
    background: #eef0f5;
    font-size: 15.5px;
    padding: 10px;
    border-radius: 8px;
    width: 670px;

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: 5;
    }

    &__results {
        &-placeholder {
            padding: 21px 14px;
            color: #6e758a;
        }

        &-data {
            padding-top: 10px;
            max-height: 315px;
            overflow-y: scroll;
        }
    }

    & input[type='search'] {
        height: 56px;
        border-radius: 8px;
        background: #fff;
        text-indent: 42px;

        &::placeholder {
            color: transparent;
            text-shadow: 0 0 0 var(--color-gray);
        }
    }

    &__exit {
        &-button {
            position: absolute;
            left: 100%;
            margin-left: 18px;
            color: #e1e3eb;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            top: 7px;
            cursor: pointer;
        }

        &-icon {
            display: block;
            background: url(/public/app/svg/escape-cross.svg) no-repeat center;
            border: 2px solid white;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            margin-bottom: 10px;
        }
    }

    &__input-wrapper {
        display: flex;
        position: relative;
    }

    label {
        display: block;
        background: url(/public/app/svg/search.svg) no-repeat;
        height: 16px;
        line-height: 16px;
        width: 16px;
        background-size: 16px;
        color: #7b8999;
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-50%);
    }
}
