.tabs {
    display: flex;
    border-bottom: 1px solid var(--lightGrayLine);
    padding: 0 var(--islandPadding);
    white-space: nowrap;
    font-size: 14px;
}

.tabs__tab {
    display: inline-flex;
    font-weight: 500;
    padding: calc(var(--islandPadding) * 0.65) 0;
    margin-right: 25px;
}

.tabs__tab:last-of-type {
    margin-right: 0;
}

.tabs__tab:hover {
    color: var(--hoverColor);
    box-shadow: inset 0 -2px 0 0 color(var(--hoverColor) lightness(+20%));
}

.tabs__tab--current {
    box-shadow: inset 0 -2px 0 0 var(--actions-color);
    font-weight: bold;
}

@media (--mobile) {
    .tabs {
        padding: 0 15px;
    }

    .tabs__tab {
        margin-right: 15px;
        padding: 18px 0;
        font-size: 13px;
    }
}
