@import url("~tiny-date-picker/tiny-date-picker.css");

:root {
  --datePickerWidth: 330px;
  --datePickerHover: rgba(64, 143, 218, .45);
  --datePickerControls: #408fda;
  --datePickerSelected: #5c95cf;
  --datePickerBorderColor: #3c7ab9;
  --color-white: #fff;
}

/**
  Override default styles
 */

.dp {
  z-index: auto;
  font-size: 15px;
}

.dp-below {
  width: var(--datePickerWidth);
}

.dp-cal-header,
.dp-cal-footer,
.dp-clear,
.dp-close,
.dp-today {
  background: var(--color-white);
}

.dp-day, .dp-day-of-week {
  padding: 8px 4px;
  font-size: 16px;
}

.dp-clear, .dp-close, .dp-today {
  color: var(--color-gray);
}

.dp-cal-header {
  padding: 16px 0;
}

.dp-cal-footer {
  padding-bottom: 16px;
  padding-top: 4px;
}

.dp:before {
  background: var(--color-white);
}

.dp-selected,
.dp-selected:focus,
.dp-selected:hover {
  background: var(--datePickerSelected);
}

.dp-day-today::after {
  border-top-color: var(--datePickerBorderColor);
  border-right-color: var(--datePickerBorderColor);
}

.dp-current,
.dp-current:focus,
.dp-day:focus,
.dp-day:hover,
.dp-month:focus,
.dp-month:hover,
.dp-year:focus,
.dp-year:hover {
  background: var(--datePickerControls);
  cursor: pointer;
}

.dp-next, .dp-prev {
  top: 50%;
  transform: translateY(-50%);
}

.dp-day:not(.dp-current):focus,
.dp-day:not(.dp-current):hover,
.dp-month:focus,
.dp-month:hover,
.dp-year:focus,
.dp-year:hover {
  background: var(--datePickerHover);
  cursor: pointer;
}

.dp-cal-month,
.dp-cal-year,
.dp-day,
.dp-month,
.dp-year {
  border-radius: 0;
}

.dp-cal-month, .dp-cal-year {
  padding: 8px;
  font-size: 16px;
}

@media (--not-mobile) {
  .dp-cal-month:focus,
  .dp-cal-month:hover,
  .dp-cal-year:focus,
  .dp-cal-year:hover,
  .dp-clear:focus,
  .dp-clear:hover,
  .dp-close:focus,
  .dp-close:hover,
  .dp-next:focus,
  .dp-next:hover,
  .dp-prev:focus,
  .dp-prev:hover,
  .dp-today:focus,
  .dp-today:hover {
    background: transparent;
    color: var(--color-hover);
    cursor: pointer;
  }
}
