/**
* Стили для формы создания страницы
*/
.writing {
    position: relative;
    padding: 20px var(--islandPadding) 0;
    margin-bottom: var(--islandMargin);
    font-size: 15px;
    line-height: 1.6em;
}

.writing__title {
    background: transparent !important;
    outline: none;
    -webkit-appearance: none;
    padding: 0 !important;
    font-size: 24px !important;
    font-weight: 700;
    margin-top: 18px;
    letter-spacing: 0.01em;
    resize: none;
}

.writing--fullscreen .island {
    box-shadow: none;
}
.writing--fullscreen .writing .form-type-selector {
    display: none;
}

.writing--fullscreen .writing__title {
    font-size: 42px !important;
}

.writing__actions {
    margin: 0 calc(var(--islandPadding) * -1);
    padding: calc(var(--islandPadding) * 0.8) var(--islandPadding);
    border-top: 1px solid #f5f6fb;
    background: #fdfdfe;
}

.writing__actions-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.writing .toggler {
    padding: 6px;
    margin: 8px 12px 0 0;
    border: 1px solid #d7deec;
    border-radius: 20px;
    color: #6a7590;
    cursor: pointer;
}

.writing .toggler:hover {
    background: #fff;
}

.writing .toggler.checked {
    background: #3b4b69;
    border-color: #3b4b69;
    color: #f9f9ff;
}

.writing .button {
    margin-right: 12px;
    font-size: 0.9em;
}

.writing .form-type-selector {
    margin: 0 -25px;

    @media (--mobile) {
        margin: 0 -15px;
    }
}

.writing-navigation__back-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: var(--lightGrayBackground);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.writing-navigation__holder {
    box-shadow: none;
}

.writing-navigation {
    padding-top: 30px;
    color: var(--color-gray);
}

.writing-navigation svg {
    height: 13px;
    margin: 0 3px 0 5px;
}

.writing-wrapper {
    margin-bottom: var(--islandMargin);
}

.writing-wrapper__placeholder {
    padding: 15px var(--islandPadding);
    color: var(--color-gray);
    font-size: 14px;
}

.writing-wrapper__photo {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.writing-wrapper__placeholder-text {
    vertical-align: middle;
}

.writing-wrapper__placeholder-name {
    display: none;
}

.writing-wrapper__placeholder {
    cursor: pointer;
}

.writing-wrapper__placeholder--opened {
    display: none;
}

.writing-wrapper .writing {
    padding-top: 0;
    box-shadow: none; /* 0 0 0 1px #ebeef6; */
}

/**
* Editor styles overrides
*/

.editor-wrapper {
    margin: 0 -15px;
}

.editor-wrapper .ce-block__content,
.writing-navigation,
.writing__title-wrapper,
.writing__actions-content {
    margin: 0 auto;
    max-width: 590px;
}

.editor-wrapper .ce-block {
    margin: 0;
}

.editor-wrapper a {
    color: var(--linkColor);
    padding-bottom: 1px;
    border-bottom: 1px solid color(var(--linkColor) alpha(-70%));
}

.writing-fullscreen__button {
    margin-left: auto;
    color: var(--color-gray);
    cursor: pointer;
}

.writing-fullscreen__button:hover {
    color: var(--color-hover);
}

.writing-fullscreen__button svg {
    margin-right: 4px;
    margin-top: -3px;
}

.writing__toggle {
    margin-right: 10px;
    margin-left: 10px;
}

.writing__vk-post {
    margin-right: auto;
    margin-left: 10px;
    font-size: 1.5em;
    margin-bottom: 2px;
}

.writing__vk-post .cdx-checkbox__slider {
    display: none;
}

@media (--mobile) {
    .writing,
    .writing-wrapper__placeholder {
        padding: 15px;
    }

    .writing__actions {
        margin: 0 -15px -15px -15px;
        padding: 15px;
    }

    .writing-navigation {
        padding: 15px 15px 0;
    }

    .writing--fullscreen .writing__title {
        font-size: 24px !important;
    }

    .writing-fullscreen__button {
        margin: 0;
    }

    .writing-fullscreen__text {
        display: none;
    }

    .writing--fullscreen .form-type-selector {
        max-height: 2.4em;
        margin: 0 -15px;
    }

    .ce-block__content,
    .ce-toolbar__content {
        padding: 0 15px !important;
    }

}
