.codex-special__toolbar {
    padding: 15px;
    background-color: white;
    white-space: nowrap;
}
/* wrap for saving font-size in toolbar */
html body .codex-special__toolbar{
    font-size: 16px !important;
}

.codex-special__toolbar_included {
    position: relative;
    border-top: 1px solid #F2F4F8;
}

.codex-special__toolbar_excluded {
    position: fixed;
    top: 0;
    right: 3%;
    width: 270px;
    border: 1px solid #F2F4F8;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

    .codex-special__toolbar_text {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        cursor: pointer;
        border-radius: 5px;
        color: #333;
    }
    .codex-special__toolbar_text:hover
    {
        color: #3d82c1;
    }

    .codex-special__toolbar_icon {
        display: inline-block;
        background: url('icon-font.svg') no-repeat;
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
        .codex-special__toolbar_text:hover .codex-special__toolbar_icon {
            background: url('icon-font-blue.svg') no-repeat;
        }

    .codex-special__circle {
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 7px solid;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;
        float: right;
    }
        .codex-special__circle:not(:first-of-type) {
            margin-right: 5px;
        }

    .codex-special__circle_disabled {
    }
    .codex-special__circle_enabled {
        border-radius: 10%;
    }

    .codex-special__circle_blue {
        background-color: #36465B;
        border-color: #C5DFFF;
    }
    .codex-special__circle_green {
        background-color: #44E963;
        border-color: #7C766A;
    }
    .codex-special__circle_white {
        background-color: #FFF;
        border-color: #2B2A28;
    }


/**
* Special verisons styles
*/


/**
* Blue version styles
*/
body.special-blue,
.special-blue div,
.special-blue aside,
.special-blue footer,
.special-blue header,
.special-blue form,
.special-blue article {
    background-color: #b9d8ff !important;
    color: #152b48 !important;
}
.special-blue input,
.special-blue textarea {
    background-color: #C5DFFF !important;
    color: #36465B !important;
}
.special-blue .codex-special__toolbar{
    background-color: #a4d1f7 !important;
    color: #222b42 !important;
    border-color: #95CAED !important;
}
.special-blue a{
    color: #005db3 !important;
    text-decoration: underline !important;
}
/**
* Green version styles
*/
body.special-green,
.special-green div,
.special-green aside,
.special-green footer,
.special-green header,
.special-green form,
.special-green article {
    background-color: #2b2924 !important;
    color: #10f13a !important;
}
.special-green input,
.special-green textarea {
    background-color: #211f1a !important;
    color: #44E963 !important;
}
.special-green .codex-special__toolbar{
    background-color: #25221f !important;
    color: #a79f89 !important;
    border-color: #4A3D37 !important;
}
.special-green a{
    color: #beff5e !important;
    text-decoration: underline !important;
}

/**
* White version styles
*/
body.special-white,
.special-white div,
.special-white aside,
.special-white footer,
.special-white header,
.special-white form,
.special-white article {
    background-color: #121213 !important;
    color: #FFF !important;
}
.special-white input,
.special-white textarea {
    background-color: #1d1d1d !important;
    color: #FFF !important;
}
.special-white .codex-special__toolbar{
    background-color: #070808 !important;
    color: #afb2b9 !important;
    border-color: #282829 !important;
}
.special-white a{
    color: #6b9dff !important;
    text-decoration: underline !important;
}
/**
* Big text version style
*/
.special-big div,
.special-big input,
.special-big aside
{
    font-size: 1.2em !important;
}
.special-big ul,
.special-big ol
{
    font-size: 1em !important;
}
.special-big a{
    font-size: 1em !important;
}
.special-big article{
    font-size: 1.1em !important;
}



/**
* Mobile view styles
*/
@media all and (max-width: 1000px){

    .codex-special__toolbar_excluded{
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
    }
}