/**
* Speical contrast verison for websites
* @author Codex Team — ifmo.su
*   Vitaly Guryn    https://github.com/illiiiillllilii
*   Savchenko Petr  https://github.com/neSpecc
* @version 1.0
*/


/**
* Icons:
* A - font «A»
* B - cross «[x]»
*/
@font-face {
    font-family: 'codex-special';
    src: url(data:application/font-woff2;charset=utf-8;base64,d09GMgABAAAAAAZYABEAAAAADFgAAAXzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGiAGVgCCaggMCYRlEQgKhDiEDQE2AiQDTAsoAAQgBYRsB4FGDFo/d2ViZgYb2QpRVIymSPYjwcYtrnfNxVJ/+U+4We9HUKnRXoemTmrCKjVnhW6yppITtwnnJlxuI8UPBdPrLCGep6gHwNFaq28WP5R/2Ib1eDt3PofJomIt6/4jIhEvmVLImZZYYle7BK78fBEAAoBnx1/2AgC8klmeAoBX5bfKSm/mAZADABBAIARAkFK3AUi8kE6BDEkOyOcAdJz/8+LrWCj4AAGyCCNacnHXQiTQVvKvja62AeUoqgCIdnJ+zroQiSuQ0IvnN2wQYAHQzhyshs0p+TeTAYA2Bjgg8/CH8gcffZB+O2tU1VhFlqmySdjK2Molgv7LRQnUayQFYC7OEcChcgQH+GBS4/2bdQ5lYg63xLTxev5xu3T2KqdgdU4VJ5W9zV2xKi6oA5O1LkWPUjuI6rIcxhNJLerU61VcUrtxokp0u/Ze5Dk90uZE7b/Id3pEiXI5pvHuzXqhYNCx+LLqnjm9iltUs4iOztyWHZ05M8IxRIVVNYuz7kRkmxrws3hNFberbNcE+qPkWoyLJX0K41JpP0dSMxYZ81jQsTUSjeoRI+WYDJOZDmRlvogvOlqFU2Uvr0VzwS1quDU2U2OsR+met5xpbOH87tDGcM9K2ajMYD1G9zzFYIYylaEMnM4TPN0aZPJ5YlGCtkfPLH3Hv54TjUbY68Ye0A5NfYwjhQujTZq8qsJen5irMG1gSiTKSdeM1bTuUwyFGX2OMa+xxIOXX8V9Z2ANGP7FQzBfAAzD0xR2ztxNAMuCKkNuHNkzbv9CxbByltTGRR4sPTGk3oIEJdrbaeBOHxbAhYYZKQ04kzVlPuNQ2iOshTQdjkhM1tJg6FjQniZG0J2zBTx3Uf48LKzyEqZwOCdVgUCZjBcAEGRPKQUgA9gKgMOIIwE4DfMLL+UYuDx1OVz5RPsK6eo3nnjmgcIdznPDs157K3Wj9WpmybWvlVyIHONjh/Fh477CaWVnZ2effTbte310dPWrb+6977Xbmrr2Ym/l/3mr49Udqdecx7e8PXrBVPtbv8375I8Zb/8+/8Nf/9o3ccni+/e9cfz4RUseOP61veMWLrpv76vGhMUL7zUoacmtvWOS+543Pvit7PH1F52a/d9I2Zxb7qjblLvMq/RsKlx3rRLek1MwGPcPz055f2qOP1IRfmXKXZtmOUIDj9VtadhWQYVdOyaNCfeF33mlKafWEe4tyO51vCUs8BYdKL1a3EXdOS8ta9ny2y0zforDfktb2y2OZmdX2W+JWxcuWLw4pZSYbVOLB4YWbyoxhNAy5EgFB4aWFi7VATukRSCWzi2ON1BJTYhfpfOLxtfz0l1AzKyTvko7gmsSH6kxkxSD6ejyB/hgvLYOaXvtd4aEr3hOPS+rIV5ew/G66Za/4v567vaZjGI8r960yF+ZFRQz3fAHTCfF45z503ZvQZzmWQKmbI3HYdpDFR6bgw5aQIA9uMsZmOMd95ut8H8g/n1G+7rNFD3pNhgUZWTedKWi8b/WZlCvBITrWlBuPUg+lHcRAFDKtqLxXADrCJBC8UsIRUGMzMwEkIpZRcqhnuXBTRBBkh1AJRAzQh4vARHgQScRkYfJREIlVhIZWTiLWJCHG4gDo3icOFFK+eRJZFE7eQq1pJGn4aGj1mfk8TxviUdS+wrEF37gC/gMyA9o8gu2rqztQVcW1n3yCQL0pT2ecp61Nywet5lk6XzQH+vZ2NnzG7uArmh9J7mBtufTGpwATICtH2rDDOG40FKfzIYVtnIcxiy4lE23vbZApecTbVHBwuYGUkmNgjM5Qq0XBLcS9BVmBQTckGGCrhF0tlQg8OZhPklh/HYVlDBS3X73Ch4YlM/hIkLiWyMoAUkgEcUoIYlkspCVbGQnBznJRW7ykJd85LcsWblt7dI6r3W9ddPqZfW1huw765QyZ4Oz0dnkbHa2OFudcUdboL7bbAKBuV7HnZQ5xOlEDHBbUjOJTtLN7n9yW+7TB3hoclC3Vy/gln/ZDcAF1sXFWCeXWFdasAqxhFUMSOFC4nJ1BJ2HYqBpH5ZfDQAAAA==) format('woff2'),
         url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAisABEAAAAADFgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABgAAAABwAAAAcdELqwEdERUYAAAGcAAAAHQAAACAAQAAET1MvMgAAAbwAAAA+AAAAVmOXkc9jbWFwAAAB/AAAAFsAAAFqUKw+iGN2dCAAAAJYAAAADAAAAAwCmAKwZnBnbQAAAmQAAAGxAAACZVO0L6dnYXNwAAAEGAAAAAgAAAAIAAAAEGdseWYAAAQgAAAB5wAAAjgvlXr5aGVhZAAABggAAAApAAAANg89/0toaGVhAAAGNAAAABkAAAAkEAIH7GhtdHgAAAZQAAAAKwAAAExEiQAAbG9jYQAABnwAAAARAAAAKAgiCKhtYXhwAAAGkAAAACAAAAAgAS0ArG5hbWUAAAawAAABLgAAAmwQW2PtcG9zdAAAB+AAAABqAAAAxhjhRm9wcmVwAAAITAAAAFYAAABaiarBv3dlYmYAAAikAAAABgAAAAYoqFfgAAAAAQAAAADMPaLPAAAAANP/bskAAAAA1AXZJ3jaY2BkYGDgA2IJBhBgYmAEQiEgZgHzGAAFEABFAAAAeNpjYGSeyziBgZWBhVWIdQYDA6MchGa+xpDCJMDAwMTAysyAFQSkuaYwODA4qv7hAPOBpAaQYgSxAWc1B1YAAHjaY2BgYGaAYBkGRgYQSAHyGMF8FgYPIM3HwMHAxMAGZDkpcCnoK8Sr/vn/H6zSUYEBwf9/6AHr/Yf3N90Sg5qDBBiBumGCjExAggldAQNhwMzCMJQBAFjUELYAAAAAUAIAAGAAmAIAeNpdUbtOW0EQ3Q0PA4HE2CA52hSzmZDGe6EFCcTVjWJkO4XlCGk3cpGLcQEfQIFEDdqvGaChpEibBiEXSHxCPiESM2uIojQ7O7NzzpkzS8qRqnfpa89T5ySQwt0GzTb9Tki1swD3pOvrjYy0gwdabGb0ynX7/gsGm9GUO2oA5T1vKQ8ZTTuBWrSn/tH8Cob7/B/zOxi0NNP01DoJ6SEE5ptxS4PvGc26yw/6gtXhYjAwpJim4i4/plL+tzTnasuwtZHRvIMzEfnJNEBTa20Emv7UIdXzcRRLkMumsTaYmLL+JBPBhcl0VVO1zPjawV2ys+hggyrNgQfYw1Z5DB4ODyYU0rckyiwNEfZiq8QIEZMcCjnl3Mn+pED5SBLGvElKO+OGtQbGkdfAoDZPs/88m01tbx3C+FkcwXe/GUs6+MiG2hgRYjtiKYAJREJGVfmGGs+9LAbkUvvPQJSA5fGPf50ItO7YRDyXtXUOMVYIen7b3PLLirtWuc6LQndvqmqo0inN+17OvscDnh4Lw0FjwZvP+/5Kgfo8LK40aA4EQ3o3ev+iteqIq7wXPrIn07+xWgAAAAABAAH//wAPeNpVUDFv01AQvntxnu3XJCSu6xhUQuS6LyGREsdxEowglSpaRZUVIjYkhBhQVHVkQBWq+CEMzKgD8rMyd0L9CR0qJrZsiKETeeIFFnp30n1333fDfUAAYGaAnsEzmEIMWQ6gnd31436/LyC3zLa9p2EYZgdqLXraMmMKYPq8K2bYBsEOKlaaxEFvEI0GY22Efae66VjVdVVrWHW2dM/f8TQ92iPDPRzjIOJd3KXErpEHaG/Zf2m6Q5W0H45Ig+pk+8WTcadMzj4zIpuL0DrxXcs9twySyMvpa3keaN+sEi0YNAmj1VX9zDvqdCIykT8mrEPekuaXj4du5+S08GpGW4FRKrgBp+8sY5W+kZP3LflzMixbPg3cmlUmw1aLahqjJWZfnn4gh/LrY+4UNOoGzHFZOcc1QvDRjf9L2QRrr8BQCRvQgJeQmWtTbLJM3TBtdDFtdlO4EsX8Mq2EabEs6thO74WC5pfiIbZFESqW2MA4TuuVzLxzP1aIWiKvxzEI01akwWLlZcWCvA+bBHY1A6ORiTwahlUTh6Fj6yY6NvUaJlKPkX1c4ILsM7a6kIlMVhd4w9GX33kybyJHzudTLq9VT45Vl9f8WIO1jN06/f1pzm+pp/N/ajWjQly9jfBf9OAPEG+E1gB42mNgZGBgAGIBV26heH6brwzyHAwgcIX1pjoyzcHAAaGYQBQAt6AGBwAAAHjaY2BkYOBg+H8DRIIAkGRkQAXCADk1AgUAAAB42uNggACmVQwMHAwQzIJGg+SYgDRjKBSD2DOBRCGEBskxv2BgAACBxwTKAHjaY2CAgmmMInigDAAk3gHaAAAAAAEAAAATAE8AAgAAAAAAAgABAAIAFgAAAQAAWQAAAAB42n2QTU4CQRCFvxY0UROWLIwLVi5MRBiNiS6NkZUbTdAt6IxgwBlnRiM38ASewCXxGMafE3gb3zQlCxJIp3u+elVd/WqACu+UcOVVYFt7wo4NRRNeUs2JcUn6uXFZFQPjZaq8Gq+oZmy8RpsP43W23KbxJ1V3bPxFw10Zf1NxL8Y/Yuv5q3fdGy1C7rVTOuT63lCjy0hnS05GJPS8nnJNrGzIMztk0kMpfd0ayH3ILY+izsK6+ZnaTI+2fzFTNpa7Gk3qNBbcnz9FxpP6BlJzIsWRamKGolPfu6geaMVSEp+7831zvdjztxKO2NWKZurr3s+QSyndafbf65k5v1A28eqhP/fVreHPgD0pgaImB36uSO6LP5D72Yr5Q8XZ1GnR7UFKX7m08PEHK2teYAAAeNptyD0OgkAUReF3+UdRILAE6IeRQS0NCVsBEmNoKNy9xbt2nOZLjnii1XJcJQIPvjTSIkCICDESpDjhjAwXXJGjQBnN7++2dIqN989qjTG0o/9/oz11dKB3+qBP+lLtpDrVTeMPXIcjlwAAeNrbwfi/dQNjL4P3Bo6AiI2MjH2RG93YtCMUNwhEem8QCQIyGiJlN7Bpx0QwbGBScN3ArO2ygUXBdRMTO5M2mMMM5LCIQjiMG1ghSiI3iGgDACuyGqMAAAABV+AopwAA) format('woff');
    font-weight: normal;
    font-style: normal;
}

.codex-special__toolbar {
    padding: 15px;
    background-color: white;
    white-space: nowrap;
}
/* wrap for saving font-size in toolbar */
html body .codex-special__toolbar{
    font-size: 15px !important;
}

.codex-special__toolbar_included {
    position: relative;
    border-top: 1px solid #F2F4F8;
}

.codex-special__toolbar_excluded {
    position: fixed;
    top: 0;
    right: 3%;
    width: 270px;
    border: 1px solid #F2F4F8;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

    .codex-special__toolbar_text {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        cursor: pointer;
        border-radius: 5px;
    }
    .codex-special__toolbar_text:hover
    {
        color: #3d82c1;
    }

    .codex-special__toolbar_icon {
        display: inline-block;
        margin-right: .3em;
        vertical-align: text-bottom;
        line-height: 1em;
        font-size: .84em;
        font-style: normal;
    }
        .codex-special__toolbar_icon:before{
            content: 'A';
            font-family: 'codex-special';
        }

    .codex-special__circle {
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 7px solid;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;
        float: right;
    }
        .codex-special__circle:not(:first-of-type) {
            margin-right: 5px;
        }

    .codex-special__circle_disabled {
    }
    .codex-special__circle_enabled {
        border-radius: 10%;
    }

    .codex-special__circle_blue {
        background-color: #36465B;
        border-color: #C5DFFF;
    }
    .codex-special__circle_green {
        background-color: #44E963;
        border-color: #7C766A;
    }
    .codex-special__circle_white {
        background-color: #FFF;
        border-color: #2B2A28;
    }


/**
* Special verisons styles
*/


/**
* Blue version styles
*/
body.special-blue,
.special-blue div,
.special-blue aside,
.special-blue footer,
.special-blue header,
.special-blue form,
.special-blue article {
    background-color: #b9d8ff !important;
    color: #152b48 !important;
}
.special-blue input,
.special-blue textarea {
    background-color: #C5DFFF !important;
    color: #36465B !important;
}
.special-blue .codex-special__toolbar{
    background-color: #a4d1f7 !important;
    color: #222b42 !important;
    border-color: #95CAED !important;
}
.special-blue a{
    color: #005db3 !important;
    text-decoration: underline !important;
}
/**
* Green version styles
*/
body.special-green,
.special-green div,
.special-green aside,
.special-green footer,
.special-green header,
.special-green form,
.special-green article {
    background-color: #2b2924 !important;
    color: #10f13a !important;
}
.special-green input,
.special-green textarea {
    background-color: #211f1a !important;
    color: #44E963 !important;
}
.special-green a{
    color: #beff5e !important;
    text-decoration: underline !important;
}

/**
* White version styles
*/
body.special-white,
.special-white div,
.special-white aside,
.special-white footer,
.special-white header,
.special-white form,
.special-white article {
    background-color: #121213 !important;
    color: #FFF !important;
}
.special-white input,
.special-white textarea {
    background-color: #1d1d1d !important;
    color: #FFF !important;
}
.special-white .codex-special__toolbar{
    background-color: #070808 !important;
    color: #afb2b9 !important;
    border-color: #282829 !important;
}
.special-white a{
    color: #6b9dff !important;
    text-decoration: underline !important;
}
/**
* Big text version style
*/
.special-big div,
.special-big input,
.special-big aside
{
    font-size: 1.2em !important;
}
.special-big ul,
.special-big ol
{
    font-size: 1em !important;
}
.special-big a{
    font-size: 1em !important;
}
.special-big article{
    font-size: 1.1em !important;
}
.special-big .codex-special__toolbar_icon{
    line-height: .96em;
}
.special-big .codex-special__toolbar_icon:before{
    content: 'B';
}


/**
* Active state toolbar
*/
.special-green .codex-special__toolbar,
.special-white .codex-special__toolbar,
.special-blue .codex-special__toolbar,
.special-big .codex-special__toolbar
{
    background-color: #fff812 !important;
    color: #15130b !important;
    border-color: transparent; !important;
}
.special-green .codex-special__toolbar_text:hover,
.special-white .codex-special__toolbar_text:hover,
.special-blue .codex-special__toolbar_text:hover,
.special-big .codex-special__toolbar_text:hover{
    color: #bb0000;
}



/**
* Mobile view styles
*/
@media all and (max-width: 1000px){

    .codex-special__toolbar_excluded{
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
    }
}