application/cache/*
application/logs/*
upload/*
phpmyadmin/*
pma/*
.DS_Store
sftp-config.json
.idea/.name
*.xml
*.iml
*.sublime-project
*.sublime-workspace
.htaccess
application/config/oauth.php
application/config/database.php
application/config/social.php
public/img/covers/*
/nbproject/private/
*~
