application/cache/*
application/logs/*

vendor/*

.env

composer.lock

phpmyadmin/*
pma/*
.DS_Store
sftp-config.json
.idea/.name
*.xml
*.iml
*.sublime-project
*.sublime-workspace
.htaccess
public/img/covers/*
/nbproject/private/
node_modules/

*~

.ftpconfig
