.file-attached {
    display: block;
    border: 1px solid #ecedef !important;
    box-shadow: 0 1px 3px 0 rgba(25, 29, 45, 0.04);
    border-radius: 3px;
    padding: 20px 30px !important;
    font-size: 15px;
    margin: 10px 0;
    color: inherit !important;
}

.file-attached__info {
    float: right;
    color: var(--color-gray);
    font-variant: small-caps;
}
