/**
* Exception
*/
.exceptionWrapper {
    position: fixed;
    z-index: 2;
    top: 20px; right: 20px;
}
.exceptionWrapper .clientException {
    padding: 7px 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: #FFDEDE;
    color: #B51D1D;
    font-size: 11px;
    font-family: 'monaco', 'consolas', 'courier';
}
