:root {
    --checkboxColor: #95a3ae;
    --checkedCheckboxColor: #4098f9;
}

.cdx-checkbox--unchecked {
    color: var(--checkboxColor);
    cursor: pointer;
}

/**
 * Styles for checkbox backgorund
 */
.cdx-checkbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
    padding: 2px;
    margin: 0 10px;
    vertical-align: text-bottom;
    border-radius: 10px;
    cursor: pointer;
    background: var(--checkboxColor);}

/**
 * Styles for checkbox slider
 */
.cdx-checkbox:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    transition: transform .2s ease;
}

.cdx-checkbox--unchecked:hover .cdx-checkbox:before {
    transform: translateX(2px);
}

/**
 * Styles for checked state
 */
.cdx-checkbox--checked {
    color: var(--checkedCheckboxColor);
    cursor: pointer;
}

.cdx-checkbox--checked .cdx-checkbox {
    background: var(--checkedCheckboxColor);
}

.cdx-checkbox--checked .cdx-checkbox:before {
    transform: translateX(6px);
}

.cdx-default-checkbox--hidden {
    display: none;
}