.codex-special--toolbar {
    position: fixed;
    top: 0;
    right: 3%;
    width: 270px;
    border: 1px solid #F2F4F8;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    padding: 20px;
    font-size: 15px;
    background-color: white;
}

.codex-special--toolbar.codex-special--included {
    position: relative;
    width: 90% !important;
    border: none;
    border-top: 1px solid #F2F4F8;
}
    /*.codex-special--toolbar i{
        margin-right: 5px;
    }*/

.codex-special--hover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCFDFE;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
}
    .codex-special--toolbar:hover .codex-special--hover {
        display: block;
    }
    .codex-special--toolbar:hover {
        opacity: 1;
    }

    .codex-special--text {
        display: inline-block;
        vertical-align: middle;
        float: left;
        margin-right:5px;
        cursor: pointer;
        border-radius: 5px;
        padding: 1px 5px;
        /*border: 1px solid #fff;*/
    }
    .codex-special--text.enabled {
        /*border: 1px solid #000;*/
        font-style: bold;
    }

    .codex-special--circle {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 7px solid;
        vertical-align: middle;
        border-radius: 50%;
        float: right;
        margin-right:5px;
        cursor: pointer;
    }
    .codex-special--circle__blue {
        background-color: #36465B;
        border-color: #C5DFFF;
    }
    .codex-special--circle__green {
        background-color: #44E963;
        border-color: #7C766A;
    }
    .codex-special--circle__white {
        background-color: #FFF;
        border-color: #2B2A28;
    }

/**
* Blue version styles
*/
body.special-blue,
.special-blue div,
.special-blue aside,
.special-blue footer,
.special-blue header,
.special-blue form,
.special-blue article {
    background-color: #C5DFFF !important;
    color: #36465B !important;
}
.special-blue input,
.special-blue textarea {
    background-color: #C5DFFF !important;
    color: #36465B !important;
}
/**
* Green version styles
*/
body.special-green,
.special-green div,
.special-green aside,
.special-green footer,
.special-green header,
.special-green form,
.special-green article {
    background-color: #7C766A !important;
    color: #44E963 !important;
}
.special-green input,
.special-green textarea {
    background-color: #7C766A !important;
    color: #44E963 !important;
}

/**
* White version styles
*/
body.special-white,
.special-white div,
.special-white aside,
.special-white footer,
.special-white header,
.special-white form,
.special-white article {
    background-color: #2B2A28 !important;
    color: #FFF !important;
}
.special-white input,
.special-white textarea {
    background-color: #2B2A28 !important;
    color: #FFF !important;
}
div.codex-special--toolbar,
div.codex-special--hover {
    background-color: #FCFDFE !important;
    color: #3D4859 !important;
}
/**
* Big text version style
*/
.special-big div article{
    font-size: 1.5em;
}

