/**
* CodeX Team stylesheets
*/

/**
*
* Base elements rules
* ================================================
*
*/

.hide { display: none !important; }
.block { display: block; }
.p_rel { position: relative; }
.pointer { cursor: pointer; }

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--hoverColor);
}

textarea {
    resize: vertical;
}

/**
* Clearfix hack
*/
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/**
* Floating shorthands
*/
.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.constrain {
    overflow: hidden;
}

/**
* Forms elements
* =========================================
*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    font-size: 15px;
    font-family: inherit;
    outline: none;
    background: #f4f5f8;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #eef5fd;
}

.button,
input[type="submit"] {
    user-select: none;
    border-radius: 30px;
    border: 0;
    display: inline-block;
    padding: 12px 24px;
    color: #3f4b63;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    background-color: #ecf3f9;
    line-height: 1em;
}

.button:hover,
input[type="submit"]:hover {
    background-color: #4592da;
    color: #fff;
    text-decoration: none;
}

.form {
    font-size: 14px;
}

.form__input {
    max-width: 400px;
    margin-bottom: 1em;
}

.form__label {
    display: block;
    margin-bottom: 0.6em;
}

.form__input--invalid {
    background: #fff3f3 !important;
}

.form__hint {
    display: inline-block;
    margin-left: 1em;
}

.form__hint svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-right: 0.3em;
}

.form__caption {
    margin: 15px 0;
    line-height: 1.6em;
}

/**
* Loading bar class
*/
.button.loading {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgb(187, 205, 228) 4px, #ecf3f9 8px) !important;
    background-size: 56px 56px;
    animation: loading-bar 600ms infinite linear;
}

/**
* Add class 'master' to make BLUE button
*/
.button.master,
input[type="submit"] {
    background-color: #5c95cf;
    color: #fff;
}

.button.master:hover,
input[type="submit"]:hover {
    background-color: #3c7ab9;
    color: #fff;
}

.master.loading {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, #7ca9d0 4px, #7ca9d0 8px) !important;
    background-size: 56px 56px;
    animation: loading-bar 600ms infinite linear;
}

/**
* Styles for disabled buttons and inputs
*/
.button.disabled,
input[disabled] {
    background: #eaecf1;
    color: #a9afc1;
}

.button.disabled:hover,
input[disabled]:hover {
    background: #eaecf1;
    color: #a9afc1;
}

::placeholder {
    color: var(--grayText);
}

/**
* JS approval buttons
*/

.click-again-to-approve {
    background-color: red;
}

/*
* Imrove padding on buttons with icons
*/
.button i {
    margin: 0 0.74em 0 -0.3em;
}

.button--vk,
.button--twitter,
.button--facebook {
    color: #fff;
}

.button--vk {
    background: #507299;
}

.button--vk:hover {
    background: color(#507299 lightness(-10%));
}

.button--facebook {
    background: #4267b2;
}

.button--facebook:hover {
    background: color(#4267b2 lightness(-10%));
}

.button--twitter {
    background: #1da1f2;
}

.button--twitter:hover {
    background: color(#1da1f2 lightness(-10%));
}

.border-button {
    display: inline-block;
    margin-right: 15px;
    padding: 7px 10px;
    color: var(--grayText);
    border: 1px solid color(var(--grayText) alpha(-80%));
    border-radius: 3px;
}

.border-button svg,
.button svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-right: 0.3em;
}

.border-button--twitter {
    color: var(--twitterColor);
    border-color: color(var(--twitterColor) alpha(-80%));
}

.border-button--vk {
    color: var(--vkColor);
    border-color: color(var(--vkColor) alpha(-80%));
}

.border-button--facebook {
    color: var(--facebookColor);
    border-color: color(var(--facebookColor) alpha(-80%));
}

.border-button:hover {
    color: var(--hoverColor);
    border-color: color(var(--hoverColor) alpha(-80%));
}


/**
* Information message block
*/
.info_block {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    background: #f5f8fb;
    color: #406eab;
    border-radius: 2px;
}

/**
* Empty items placeholder
*/
.empty-motivator {
    text-align: center;
    color: var(--grayText);
    padding: 35px !important;
    font-size: 14px;
    line-height: 1.4em;
}

.empty-motivator svg {
    height: 45px;
    margin-bottom: 10px;
}

.empty-motivator p {
    margin: 5px 0 0;
}

.empty-motivator .button {
    margin-top: 1.4em;
}

/**
* Delete button
*/
.button-delete {
    padding: 10px;
    margin: -10px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: rgb(217, 0, 0);
    color: #fff;
}

.button-delete__ready-to-delete {
    color: rgb(217, 0, 0);
}

/**
 * Appender button
 */
 .button--load-more {
    display: block;
    margin-bottom: var(--islandMargin);
    font-size: 15px;
    color: #566379;
    text-decoration: none;
 }

 .button--load-more:hover {
     background-color: #edf0f8;
     color: #607292;
     border-color: #e3e9f6;
 }

/**
* Cancel default list styles
*/
ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/**
* SVG icons styles
*/
svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
}

/**
* Base site styles
* =================================
*/
body {
    background: #f9f9fb;
    font-family: var(--systemFont);
    font-size: 13px;
}

/**
* End
* =================================
*/

/**
* Mobile viewport styles
* =================================
*/
@media all and (max-width: 800px) {
    /** End of mobile viewport */
}

/**
* Retina displays styles
*/
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /** HD displays overrides */
}
