/**
* New layout
*/

.center-col {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/**
* Columns 300 and 650 layout
*/
.grid-cols-wrapper {
    display: flex;
    box-sizing: border-box;
}

.grid-cols-wrapper--right-aside {
    flex-direction: row-reverse;
}

.grid-col {
    width: 300px;
}

.grid-col--left {
    padding: var(--islandMargin) var(--islandMargin) var(--islandMargin) 0;
}

.grid-col--right {
    border-left: 1px solid rgba(79, 109, 162, 0.1);
    margin-left: var(--islandMargin);
    padding: var(--islandMargin) 0 var(--islandMargin) var(--islandMargin);
}

.grid-content {
    box-sizing: border-box;
    border-left: 1px solid rgba(79, 109, 162, 0.1);
    padding: var(--islandMargin) 0 0 var(--islandMargin);
    flex: 2 0%;
}

.grid-content--stretched {
    border: none;
    padding-left: 0;
}

@media (--mobile) {
    .center-col {
        padding: 0;
    }

    .grid-col {
        width: auto;
        padding: 0;
        margin: 0;
        float: none;
        border: 0;
    }

    .grid-content {
        padding: 0;
        flex: none;
    }

    .grid-cols-wrapper {
        flex-direction: column;
    }
}

