:root {
    /** Texts */
    --grayText: #6e758a;
    --hoverColor: #d03931;
    --mediumText: #373f52;

    /** Colors */
    --blueColor: #007aff;
    --greenColor: #4cd964;
    --redColor: #ff3b30;

    /** Links */
    --linkColor: #235ccf;

    /** Borders */
    --lightGrayLine: #eceff3;

    /** Backgrounds */
    --grayBackground: #f7f7f9;
    --lightGrayBackground: #fbfbfc;

    /** Bounce timing function for transition */
    --bounceTiming: cubic-bezier(0.6, -0.28, 0.735, 0.045);

    /** General margin size between islands */
    --islandMargin: 20px;

    /** Island inner padding */
    --islandPadding: 30px;
}

/**
* Custom media queries
*/
@custom-media --tablet all and (max-width: 1050px);
@custom-media --mobile all and (max-width: 980px);
@custom-media --retina all and (-webkit-min-device-pixel-ratio: 1.5);

