.about {
    margin-bottom: 20px;
    padding: 23px 25px;
    font-size: 14px;

    &__title {
         display: inline-block;;
         margin: 0;
         font-size: 16px;
         line-height: 1.3em;
         font-weight: 700;
    }

    &__body {
         max-width: 370px;
         line-height: 21px;
         margin: 9px auto 0 0;
    }

    &__read-more {
         color: #D32B26;
         display: inline-block;
         margin-top: 15px;
         letter-spacing: 0.95px;
     }
}