.article {
    &--wide .site-head {
        display: none;
    }

    &--wide .article__information {
        &-section {
            margin-left: 55px;
        }

        .island-settings {
            margin-left: auto;
        }
    }
}