/**
* Island styles
*/
.island {
    border-radius: 0;

    &__title {
         display: inline-block;;
         margin: 0;
         font-size: 16px;
         line-height: 1.3em;
         font-weight: 700;
     }

     &__caption {
          max-width: 370px;
          line-height: 21px;
          margin: 9px auto 0 0;
      }

      &__link {
           color: var(--actions-color);
           display: inline-block;
           margin-top: 15px;
           letter-spacing: 0.95px;
       }
}