.transparent-aside {
    @media (--mobile){
        padding: 15px;
        display: none;
    }
}

.body--menu-opened .transparent-aside {
    display: block;
}

.transparent-menu {
    &__section{
        margin: 20px 0;

        &:first-of-type {
            margin-top: 0;
        }

        &-label {
            color: var(--color-gray);
            font-variant-caps: small-caps;
            font-size: 15px;
        }
    }

    &__subsection {
        margin-top: 10px;
    }

    &__item {
        display: block;
        padding: 5px;
        margin-left: -5px;
        font-weight: 500;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 3px;


        &:hover {
            background: #fff;
            color: initial;
        }

        img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 3px;
            margin-top: -2px;
        }
    }
}