.transparent-aside {
    @media (--mobile){
        display: none;
    }

    &__label {
        font-size: 15px;
        font-variant-caps: all-small-caps;
        margin: 10px 0;
        color: var(--color-gray);
        letter-spacing: 0.4px;
    }

    .menu {
        li {
            padding: 5px;
            font-weight: 500;
            font-size: 14px;
            padding-left: 36px;
            line-height: 26px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            a::before {
                content: '';
                width: 26px;
                height: 26px;
                display: inline-block;
                background: #424B62;
                margin-right: 7px;
                vertical-align: middle;
                margin-left: -36px;

            }
        }
    }
}