.transparent-aside {
    @media (--mobile){
        display: none;
    }

    &__label {
        font-size: 15px;
        font-variant-caps: all-small-caps;
        margin: 10px 0;
        color: var(--color-gray);
        letter-spacing: 0.4px;
    }

    .menu {
        li {
            padding: 5px;
            font-weight: 500;
            font-size: 14px;
            padding-left: 36px;
            line-height: 26px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            img {
                height: 26px;
                width: 26px;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 7px;
                margin-left: -36px;
                object-fit: cover;
            }
        }
    }
}