.article {
    margin-bottom: var(--islandMargin);
}

.article-information {
    color: var(--grayText);
    margin-bottom: 10px;
}

.article-information__time {
    display: inline-block;
    margin-right: 1em;
}

.article-information__author img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: bottom;
    margin-right: 1em;
}

.article-title {
    margin: 0 0 0px;
    font-size: 30px;
    line-height: 1.3em;
}

.article-content {
    font-size: 15px;
    line-height: 1.6em;

    /*font-family: '/*Lora';
    font-size: 19.2px;
    line-height: 1.64em;
    color: rgba(0,0,0,.8);*/
}
.article-content a {
    text-decoration: underline;
}

.article-sharing__button {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    background: #30588F;
    cursor: pointer;
}

.article-sharing__button--twitter {
    background-color: color(var(--twitterColor));
    border-color: color(var(--twitterColor) alpha(-80%));
}
.article-sharing__button--twitter:hover {
    background-color: color(var(--twitterColor) alpha(-30%));
}

.article-sharing__button--vk {
    background-color: color(var(--vkColor));
    border-color: color(var(--vkColor) alpha(-80%));
}
.article-sharing__button--vk:hover {
    background-color: color(var(--vkColor) alpha(-30%));
}

.article-sharing__button--facebook {
    background-color: color(var(--facebookColor));
    border-color: color(var(--facebookColor) alpha(-80%));
}
.article-sharing__button--facebook:hover {
    background-color: color(var(--facebookColor) alpha(-30%));
}