.main-aside {
    position: sticky;
    top: var(--islandMargin);
    will-change: top;
}

.main-aside--offset-top {
    margin-top: -112px;
}

.site-head {
    display: flex;
    border-bottom: 1px solid var(--lightGrayLine);
    padding: var(--islandPadding);
    line-height: 1.2em;
    font-size: 15px;
}

.spb_shield {
    display: block;
    width: 26px;
    height: 32px;
    background: url('/public/app/img/spb-shield.png') no-repeat;
    margin-right: var(--islandPadding);
}

.main-aside .menu:empty {
    margin: 0;
}

.main-aside .menu {
    font-size: 15px;
    margin: 20px 0;
}

.main-aside .menu a {
    display: block;
    padding: 10px var(--islandPadding);
    font-size: 14px;
    line-height: 1.5em;
}

.main-aside .menu a:hover {
    color: var(--hoverColor);
}

.button.logout {
    background: #2d3136;
    color: #606469;
}

.button.logout:hover {
    background: #202328;
}

.main-aside .user_panel {
    display: block;
    padding: 15px var(--islandPadding);
    border-bottom: 1px solid var(--lightGrayLine);
    font-size: 14px;
}

.main-aside .user_panel:hover {
    background: #f6f8fa;
}

.main-aside .user_panel img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.user_panel__name {
    vertical-align: middle;
}

.main-aside .logout {
    margin-top: 21px;
    margin-right: 20px;
    color: #c6cad4;
}

/**
* Email confirmation
*/
.confirm-reminder {
    display: block;
    box-shadow: inset 3px 0 0 0 var(--redColor);
    padding: 15px 23px 15px 30px;
    border-bottom: 1px solid var(--lightGrayLine);
    font-size: 14px;
    cursor: pointer;
    color: var(--redColor);
}

.confirm-reminder:hover {
    background: var(--lightGrayBackground);
}

.confirm-reminder__attention {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}

.confirm-reminder__attention svg {
    width: 18px;
}

.confirm-reminder__arrow svg {
    height: 15px;
}

.aside-section {
    padding: var(--islandPadding);
    border-bottom: 1px solid var(--lightGrayLine);
}

.aside-section .button {
    display: block;
    text-align: center;
}

/**
* Mobile menu holder and toggler
*/
.mobile-menu-toggler {
    display: none;
}

/**
 * Codex logo
 */
.codex {
    display: block;
    margin: -10px 0;
    color: var(--grayText) !important;
    font-size: 11px;
    line-height: 1.4em;
    cursor: pointer;
}

@media (--mobile) {
    .codex {
        margin: 0;
    }
}

.codex:hover {
    color: #3e445d !important;
}

.codex__title {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 3px;
}

.codex svg {
    height: 56px;
    float: left;
    margin-right: 20px;
    fill: #656e7d;
}

.codex:hover svg {
    fill: #57606f;
}

.codex:hover svg .inner {
    fill: #1d2033;
}

@media (--mobile) {
    .site-head {
        padding: 12px 15px;
        line-height: 1.3em;
        font-size: 13px;
    }

    .main-aside--offset-top {
        margin-top: 0;
    }

    /**
    * Mobile site menu
    */
    .mobile-menu-holder {
        display: none;
    }

    .mobile-menu-holder--opened {
        display: block;
        margin-bottom: 15px;
    }

    .mobile-menu-toggler {
        display: inline-flex;
        padding: 20px;
        margin: -10px -15px -10px auto;
        cursor: pointer;
        z-index: 2;
    }

    .main-aside .menu {
        margin: 10px 0;
    }

    .main-aside .menu a {
        padding: 10px 15px;
    }

    .main-aside li:last-of-type a {
        padding-bottom: 0;
    }

    .main-aside .button {
        margin: 15px;
    }

    .main-aside .user_panel {
        padding: 13px 15px;
    }
}
