.auth-form {
    max-width: 300px;
    margin: 40px auto;
}

.auth-form__footer {
    border-top: 1px solid var(--lightGrayLine);
    padding-top: var(--islandPadding);
    font-size: 14px;
    margin-top: var(--islandPadding);
    margin-bottom: 10px;
}

.auth-form__footer a {
    display: inline-block;
    margin-right: 1.5em;
    color: var(--linkColor);
}

.auth-form__footer a:hover {
    color: var(--hoverColor);
}

.auth-form__error {
    margin-bottom: 12px;
    color: #F44336;
}

.auth-field__error {
    box-shadow: 0 0 5px #F44336;
    border: 1px solid #F44336;
}

.privacy-policy-text {
    font-size: 15px;
    color: #6f7689;
    vertical-align: middle;
}

.privacy-policy-ic {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.privacy-policy-link {
    text-decoration: underline;
}