
/**
 * Cover
 */
.branding {
    position: relative;
    height: 200px;
    background: #202840;
    background-size: cover;
    background-position: center;
}

.branding__content {
    position: relative;
    height: 200px;
}

.branding__button {
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.branding__button:hover {
    background: rgba(0, 0, 0, 1);
}

.branding__button svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    vertical-align: text-bottom;
}

@media (--mobile) {
    .branding {
        height: 100px;
    }

    .branding__button {
        display: none;
    }
}
