:root {
    --checkboxColor: #95a3ae;
    --checkedCheckboxColor: #4098f9;
}

.cdx-checkbox-wrapper {
    color: var(--checkboxColor);
}

/**
 * Styles for checkbox backgorund
 */
.cdx-checkbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
    padding: 2px 3px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
    background: var(--checkboxColor);}

/**
 * Styles for checkbox slider
 */
.cdx-checkbox:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    transition: transform .2s ease;
}


.cdx-checkbox--checked {
    color: var(--checkedCheckboxColor);
}

.cdx-checkbox--checked .cdx-checkbox {
    background: var(--checkedCheckboxColor);
}

.cdx-checkbox--checked .cdx-checkbox:before {
    transform: translateX(6px);
}
