.comment-form {
}

.comment-form__photo {
    float: left;
    height: 39px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-form__text {
    width: 100%;
    background: none;
}

.comment-form__submit-button {
    float: right;
    margin-left: 10px;
    display: none;
}



.comments-list {}

.comment {}

.comment-header {}

.comment-header__author-photo {
    float: left;
    margin-right: 10px;
}
.comment-header__author-photo img {
    height: 39px;
    border-radius: 50%;
}

.comment-header__author-name {
    display: block;
    font-size: 1.5em;
}

.comment-header__time {
    display: block;
    color: var(--grayText);
}

.comment-content {
    margin-top: 20px;
    font-size: 1.3em;
}

.comment-actions {}

.comment-actions__button {
    padding: 8px 15px;
    cursor: pointer;
}
