/**
 * Comment
 */
.comment {
    transition: background-color 500ms ease-out;
}

.comment--highligthed {
    background-color: var(--hightlighted);
}

.comment__author-photo {
    float: left;
    margin-right: 15px;
}

.comment__author-photo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment__author-name {
    display: inline-block;
    font-size: 15px;
    margin: 2px 0 3px;
}

.comment__time {
    color: var(--grayText);
    font-size: 11px;
}

.comment__text {
    margin: 20px auto;
    font-size: 15px;
    line-height: 1.5em;
}

.comment__actions--button {
    float: right;
    padding: 5px;
    border-radius: 2px;
}

.comment__footer {
    margin: 0 -30px -20px;
    padding: 11px 30px 10px;
    border-top: 1px solid var(--lightGrayLine);
    color: var(--grayText);
    font-size: 15px;
    line-height: 26px;
}

/**
 * Alone reply form
 */
.comment-form__island {
    padding: 15px var(--islandPadding);
    margin: var(--islandMargin) auto;
}

/**
 * Comment form
 */

.comments-form {
    margin-top: 15px;
}

.comment-form__photo {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.comment-form__placeholder {
    cursor: pointer;
    color: var(--grayText);
    font-size: 14px;
}

.comment-form__placeholder-name {
    display: none;
}

.comment-form__placeholder--opened .comment-form__placeholder-text {
    display: none;
}

.comment-form__placeholder--opened .comment-form__placeholder-name {
    display: inline-block;
    font-weight: 500;
}

.comment-form__text {
    width: 100%;
    margin-top: 4px;
    padding: 0;
    resize: none;
    font-size: 15px;
    line-height: 1.5em;
}

.comment-form__text,
.comment-form__text:focus {
    background: none;
}

.comment-form__text:focus,
.comment-form__text:not(:invalid) {
    height: 7em;
}

.comment-form__button {
    margin: 15px 0 5px;
    font-size: 14px;
}

/**
 * Comment target Block
 */
.comment-target {
    border: 1px solid var(--lightGrayLine);
    margin: 20px auto;
    padding: 15px;
    width: auto;
    box-shadow: 0 1px 1px rgba(139, 151, 169, 0.05);
    border-radius: 3px;
}

.comment-target__text {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
}

.comment-target__text:hover{
    color: inherit;
}

.comment-target--page .comment-target__source {
    font-weight: 600;
}

.comment-target__author,
.comment-target__date,
.comment-target__page {
    color: var(--grayText);
    margin-right: 1em;
}

.comment-target__arrow {
    display: inline-block;
    margin: 0 0.5em 0 -0.5em;
    vertical-align: text-bottom;
    color: var(--grayText);
}

.comment-target__arrow svg {
    height: 0.8em;
}
