/**
 * ESIR navigator placeholder
 */
body {
    margin-top: 0 !important;
}

#widgetEsirGovSpbRu {
    clip: rect(0, 0, 0, 0);
}

.esir-showed #widgetEsirGovSpbRu {
    clip: auto;
}

.esir {
    & {
        background: #edf1f5 url('/public/app/svg/spb-herb.svg') no-repeat 5px center;
        height: 30px;
        line-height: 30px;
        padding-left: 28px;
        font-size: 12px;
        color: #414e5e;
        cursor: pointer;
        white-space: nowrap;
    }

    &:hover {
        background-color: #f4f5f7;
    }

    &__search {
        display: inline-block;
        background: url('/public/app/svg/search.svg') no-repeat 10px center;
        height: 30px;
        line-height: 30px;
        padding-left: 30px;
        margin-left: 10px;
        border-left: 1px solid #cfd8e1;
        color: #7b8999;
    }

    &__navigator {
        float: left;
    }

    &__included {
        float: right;
        border-left: 1px solid #cfd8e1;
        padding: 0 10px;
    }

    @media (--mobile) {
        & {
            font-size: 10px;
            background-size: auto 12px;
            padding-left: 22px;
            padding-right: 20px;
        }

        &__included {
            display: none;
        }

        &__search {
            margin-left: 0;
            border-left: 0;
            font-size: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
