/**
* Island styles
*/
.island {
    background: #fff;
    border-radius: 3px;
    /*border: 1px solid #ebeef6;*/
    /*box-shadow: 0 0 0 1px #ebeef6;*/
    /*margin-left: 1px;*/
    /*margin-right: 1px;*/
}

.island.block_title {
    /*margin-left: 1px;
    margin-right: 1px;*/
    border-radius: 3px 3px 0 0 ;
}

.island--padded {
    padding: 20px 30px;
}

.island--margined {
    margin-top: var(--islandMargin);
}

@media (--mobile) {
    .island--stretched {
        margin: 0;
        padding: 15px;
    }
}
