/**
* Island styles
*/
.island {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ebeef6;
    word-break: break-word;
}

.island--bottom-rounded {
    border-radius: 0 0 3px 3px;
}

.island--top-rounded {
    border-radius: 3px 3px 0 0;
}

.island.block_title {
    border-radius: 3px 3px 0 0;
}

.island--padded {
    padding: 20px 30px;
}

.island--margined {
    margin-top: var(--islandMargin);
}

.island--bottomed {
    margin-bottom: var(--islandMargin);
}

.island--centered {
    text-align: center;
}

/**
 * Island navigation
 */
.island__navigation {
    display: flex;
    margin: -20px -var(--islandPadding) 20px;
    padding: 0 var(--islandPadding);
    border-bottom: 1px solid var(--lightGrayLine);
    line-height: 54px;
    font-size: 15px;
}

.island__navigation-item {
    color: var(--grayText);
}

.island__navigation-item--right {
    margin-left: auto;
}

.island__navigation-item svg {
    margin-right: 0.6em;
    vertical-align: text-bottom;
}

@media (--mobile) {
    .island--stretched {
        margin: 0;
        padding: 15px;
    }

    .island--padded {
        padding: 15px;
    }
}
