/**
* Posts list item
*/
.post-list-item {
    padding: calc(0.7 * var(--islandPadding)) var(--islandPadding);
    font-size: 15px;
    margin-bottom: var(--islandMargin);
}

.post-list-item__header {
    margin-bottom: 1em;
    color: var(--grayText);
    font-size: 0.8em;
}

.post-list-item__date {
    margin-right: 1em;
}

.post-list-item__author img {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 0.8em;
}

.post-list-item__title {
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: 700;
}

.post-list-item--big .post-list-item__title {
    font-size: 1.8em;
}

.post-list-item__body {
    margin-top: 10px;
    line-height: 1.65em;
}

.post-list-item__body p:first-of-type {
    margin-top: 0;
}

.post-list-item__body p:last-of-type {
    margin-bottom: 0;
}

.post-list-item__footer {
    border-top: 1px solid var(--lightGrayLine);
    margin-top: calc(0.7 * var(--islandPadding));
    padding-top: calc(0.7 * var(--islandPadding));
    font-size: 0.9em;
    color: var(--grayText);
}

.post-list-item__comments:hover,
.post-list-item__date:hover,
.post-list-item__author:hover {
    color: var(--hoverColor);
}

.post-list-item__comments svg {
    margin-right: 0.5em;
}

/**
* Pinned post list item
*/
.post-list-item_pinned {
    position: relative;
}

.post-list-item_pinned::after {
    position: absolute;
    right: 55px;
    top: 50px;
    display: block;
    content: '\e811';
    font-family: 'codex-edu';
    color: #5e6575;
    font-size: 15px;
}

/**
 * Set cover button
 */
.posts-list-item__cover {
    display: block;
    height: 300px;
    margin: 20px -30px -21px;
    background-color: var(--lightGrayBackground);
    background-size: cover;
    background-position: center center;
    color: var(--grayText);
    text-align: center;
    cursor: pointer;
    transition: height 150ms ease-in, filter 400ms ease-in;
    will-change: height, filter;
}

.posts-list-item__cover--empty {
    height: 0;
    background-image: none !important;
}

.posts-list-item__cover--empty-showed {
    height: 300px;
}

.posts-list-item__cover--empty:hover {
    color: color(var(--grayText) blackness(+50%));
}

.posts-list-item__cover svg {
    margin-top: 110px;
    width: 100px;
    opacity: 0;
    transition: opacity 150ms ease;
}

.posts-list-item__cover--empty svg {
    opacity: 1;
}

.posts-list-item__cover--preview {
    filter: blur(1.7px) grayscale(1);
}

@media (--mobile) {
    /**
    * Articles list - mobile
    */
    .post-list-item {
        padding: 15px;
    }

    .post-list-item__title {
        font-size: 1.15em;
    }

    .post-list-item_pinned .post-list-item__title {
        margin-right: 22px;
    }

    .post-list-item_pinned::after {
        top: 15px;
        right: 15px;
        font-size: 12px;
    }

    .post-list-item__body {
        font-size: 14px;
    }

    .post-list-item__footer {
        margin-top: 15px;
        padding-top: 15px;
    }

    .posts-list-item__cover,
    .posts-list-item__cover--empty-showed {
        height: 170px;
        margin: 20px -15px -16px -15px;
    }

    .posts-list-item__cover--empty {
        height: 0;
    }

}
