/**
 * Profile page
 */
.profile {
    margin-bottom: var(--islandMargin);
}

.profile__content {
    padding: 10px 0;
}

.profile__ava {
    float: right;
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
}

@media (--mobile) {
    .profile__ava {
        height: 60px;
    }
}

.profile__name {
    margin-bottom: 0.6em;
    font-size: 2.4em;
    font-weight: 800;
    letter-spacing: 0.3px;
}

@media (--mobile) {
    .profile__name {
        font-size: 1.8em;
    }
}

.profile__about {
    margin: 0 0 20px;
    color: var(--grayText);
    font-size: 1.2em;
    letter-spacing: 0.3px;
}

.profile__about svg {
    margin-left: 0.3em;
    vertical-align: middle;
    margin-top: -2px;
}

.profile__about--editable {
    cursor: pointer;
}

.profile__about--editable:hover {
    color: var(--hoverColor);
}

.profile__about textarea {
    max-width: 400px;
}

.profile__about .loading {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.03) 4px, rgba(107, 118, 128, 0.19) 8px);
    background-size: 56px 56px;
    animation: loading-bar 1s infinite linear;
}

.profile .island-settings {
    margin: -10px -10px 0 0;
}
