.profile-settings {
    padding: 10px 0;
}

.profile-settings form {
    margin-bottom: 30px;
}

.logout-button {
    color: #ca3b3b;
}

/**
 * Photo
 */
.profile-settings__photo {
    float: right;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed #c5c7d4;
    padding: 5px;
    margin: -7px;
    overflow: hidden;
}

.profile-settings__photo img {
    width: 100%;
    transition: filter 100ms ease-in;
    will-change: filter;
}

.profile-settings__photo,
.profile-settings__photo-hover {
    box-shadow: inset 0 0 0 5px #fff;
}

.profile-settings__photo,
.profile-settings__photo img,
.profile-settings__photo-hover {
    border-radius: 50%;
}

.profile-settings__photo-hover {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(176, 202, 231, 0.2);
    opacity: 0;
    cursor: pointer;
    text-align: center;
    transition: opacity 80ms ease-in;
    will-change: opacity;
}

.profile-settings__photo-hover svg {
    line-height: 100px;
    height: 28px;
    width: 28px;
    fill: #fff;
    margin: auto;
}

/** Photo hover effect  */
.profile-settings__photo:hover .profile-settings__photo-hover {
    opacity: 1;
}

.profile-settings__photo:hover img {
    filter: blur(5px);
}

.profile-settings__change-password-btn {
    color: var(--grayText);
    cursor: pointer;
}

.profile-settings__change-password-btn:hover {
    color: color(var(--grayText) blackness(+80%));
}

.profile-settings__change-password-result-text {
    margin-bottom: 15px;
    padding: 0 10%;
}

.profile-settings__change-password-button svg {
    margin-right: 5px;
    margin-top: -3px;
}

@media (--mobile) {
    .profile-settings__photo {
        width: 60px;
        height: 60px;
    }

    .profile-settings .form__input {
        max-width: 70%;
    }
}
