/**
 * Profile page
 */
.profile {
    padding: 10px 0;
}

.profile__ava {
    float: right;
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
}

@media (--mobile) {
    .profile__ava {
        height: 60px;
    }
}

.profile__name {
    font-size: 2.4em;
    font-weight: 800;
    letter-spacing: 0.3px;
}

@media (--mobile) {
    .profile__name {
        font-size: 1.8em;
    }
}

.profile__about {
    margin: 15px auto;
    color: var(--grayText);
    font-size: 1.2em;
    letter-spacing: 0.3px;
}