.profile-settings__island {
    font-size: 15px;
}

.profile-settings__label {
    display: block;
    margin: 10px 0;
}

.profile-settings__input {
    width: 60% !important;
    margin: 10px 0;
}

.profile-settings__input--invalid {
    background: #fff3f3 !important;
}

.profile-settings__hint {
    margin-left: 5px;
}

.profile-settings__hint-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
}
.profile-settings__hint-icon svg {
    width: 18px;
}

.profile-settings__caption {
    margin: 15px 0;
}

.profile-settings__buttons {
    margin: 10px 0;
}

.profile-settings__button.loading {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgb(187, 205, 228) 4px, #ecf3f9 8px) !important;
    background-size: 56px 56px;
    animation: loading-bar 1000ms infinite linear;
}