/**
 * ScrollUp
 */
.scroll-up {
    position: fixed;
    top: 0;
    height: 100%;
    width: 16%;
    opacity: 0;
    cursor: auto;
}

.scroll-up.show {
    opacity: 1;
    cursor: pointer;
}

 .scroll-up__arrow {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100px;
    background-image: url(/public/app/svg/arrow-up.svg);
    background-position: center 34px;
    background-repeat: no-repeat;
    transition: opacity 150ms ease-in;
}

    .scroll-up:hover .scroll-up__arrow{
        background: rgba(255,255,255,0.8);

        /*Задавать изображение обязательно, ибо иначе заливает всё фоном.*/
        background-image: url(/public/app/svg/arrow-up.svg);
        background-position: center 34px;
        background-repeat: no-repeat;

    }
