/**
 * ScrollUp
 */
 .scroll-up {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 32px 27px;
    border-radius: 2px;
    background: rgba(93, 104, 156, 0.08);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: rgba(85, 97, 125, 0.6);
    opacity: 0;
    transition: opacity 150ms ease-in;
}

    .scroll-up:hover {
        background: rgba(93, 104, 156, 0.15);
    }

    .scroll-up:before {
        font-family: "codex_ic";
        content: '\e80f';
    }

    .scroll-up.show {
        opacity: 1;
    }
