/**
 * ScrollUp
 */
.scroll-up {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100px;
    opacity: 0;
}

.scroll-up.show {
    opacity: 1;
    cursor: pointer;
}

 .scroll-up__arrow {
    position:relative;
    float: left;
    height: 100vh;
    width: 16vw;
    background-image: url(/public/app/svg/arrow-up.svg);
    background-position: 42px 34px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 150ms ease-in;
}

    .scroll-up:hover {
        background: rgba(255,255,255,0.8);
        background-image: url(/public/app/svg/arrow-up.svg);
        background-position: 42px 34px;
        background-repeat: no-repeat;
    }
