/**
* Стили для формы создания страницы
*/
.writing {
    position: relative;
    padding: 20px var(--islandPadding) 0;
    margin-bottom: var(--islandMargin);
    font-size: 15px;
    line-height: 1.6em;
}

.writing__title {
    background: transparent !important;
    outline: none;
    -webkit-appearance: none;
    padding: 0 0 5px !important;
    font-size: 24px !important;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.writing--fullscreen .island {
    box-shadow: none;
}

.writing--fullscreen .writing__title {
    font-size: 42px !important;
}

.writing__actions {
    margin: 0  -30px;
    padding: 20px 25px;
    border-top: 1px solid #f5f6fb;
    background: #fdfdfe;
}

.writing__actions::after {
    display: inline-block;
    content: '';
}

.writing .toggler {
    padding: 6px;
    margin: 8px 12px 0 0;
    border: 1px solid #d7deec;
    border-radius: 20px;
    color: #6a7590;
    cursor: pointer;
}

.writing .toggler:hover {
    background: #fff;
}

.writing .toggler.checked {
    background: #3b4b69;
    border-color: #3b4b69;
    color: #f9f9ff;
}

.writing .button {
    margin-top: -0.5em;
    margin-left: 12px;
    font-size: 0.9em;
}

.writing .attach {
    display: inline-block;
    color: var(--grayText);
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px;
}

.writing .attach:hover,
.writing .import:hover {
    color: #3b496a;
}

.writing .title_input {
    padding-right: 200px;
}

.writing .attaches .item {
    padding: 20px 30px;
}

.writing .attaches .item_file::before {
    display: inline-block;
    margin-right: 12px;
    content: '\e818';
    font-family: 'codex-edu';
    vertical-align: middle;
}

.writing .attaches .item_image::before {
    display: inline-block;
    margin-right: 12px;
    content: '\e804';
    font-family: 'codex-edu';
    vertical-align: middle;
}

.writing .attaches .item:not(:first-of-type) {
    border-top: 1px solid #f5f7f8;
}

.writing-navigation__back-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: var(--lightGrayBackground);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.writing-navigation__holder {
    box-shadow: none;
}

.writing-navigation {
    padding-top: 30px;
    color: var(--grayText);
}

.writing-navigation svg {
    height: 13px;
    margin: 0 3px 0 5px;
}



.writing-wrapper {
    margin-bottom: var(--islandMargin);
}

.writing-wrapper__placeholder {
    padding: 15px var(--islandPadding);
    color: var(--grayText);
    font-size: 14px;
}

.writing-wrapper__photo {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.writing-wrapper__placeholder-name {
    display: none;
}

.writing-wrapper__placeholder {
    cursor: pointer;
}

.writing-wrapper__placeholder--opened {
    cursor: default;
}

.writing-wrapper__placeholder--opened .writing-wrapper__placeholder-text {
    display: none;
}

.writing-wrapper__placeholder--opened .writing-wrapper__placeholder-name {
    display: inline-block;
    font-weight: 500;
}

.writing-wrapper .writing {
    padding-top: 0px;
    box-shadow: none;/*0 0 0 1px #ebeef6;*/
}

/**
* Editor styles overrides
*/

.editor-wrapper {
    margin: 0 -25px;
}

.editor-wrapper .ce-block__content,
.writing-navigation,
.writing__title-wrapper,
.writing__actions-content {
    margin: 0 auto;
    max-width: 578px;
}

.editor-wrapper .ce-block {
    margin: 0;
}

.editor-wrapper a {
    color: var(--linkColor);
    padding-bottom: 1px;
    border-bottom: 1px solid color(var(--linkColor) alpha(-70%));
}

.writing-fullscreen__button {
    margin: 0 24px;
    color: var(--grayText);
    cursor: pointer;
}
.writing-fullscreen__button:hover {
    color: var(--hoverColor);
}

.writing-fullscreen__button svg{
    margin-right: 4px;
    margin-top: -3px;
}

@media (--mobile) {
    .writing {
        padding: 15px;
    }

    .writing-navigation {
        padding: 15px 15px 0;
    }

    .writing--fullscreen .writing__title {
        font-size: 24px !important;
    }

    .writing-fullscreen__button {
        margin: 0;
    }

    .writing-fullscreen__text {
        display: none;
    }

}
